---
const navURLs = [
  {alias: "Home", path: "/", icon: "Home.svg"},
  {alias: "Resume", path: "/resume", icon: "Resume.svg"},
  {alias: "Work", path: "/work", icon: "Work.svg"},
  {alias: "Contact", path: "/contact", icon: "Contact.svg"}
]
---

<nav>
    <ul class="navBar">
      {
        navURLs.map(item =>
          <li class="navItem">
            <a href={item.path} class={`navLink ${Astro.props.alias === item.alias ? "selected" : ""}`}>
              <span>
                <img
                  src={Astro.props.alias === item.alias ? `/icons/selected/${item.icon}` : `/icons/${item.icon}` }
                  alt={item.alias}/>
              </span>
              <span>{item.alias}</span>
            </a>
          </li>
        )
      }
    </ul>
</nav>