---
const navURLs = [
  {alias: "Home", path: "/", icon: "Home.svg"},
  {alias: "Resume", path: "/resume", icon: "Resume.svg"},
  {alias: "Work", path: "/work", icon: "Work.svg"},
]
---

<nav>
    <ul class="navBar">
      {
        navURLs.map(item =>
          <li class="navItem">
            <a href={item.path} class={`navLink ${Astro.props.alias === item.alias ? "selected" : ""}`}>
              <span>
                <img
                  src={Astro.props.alias === item.alias ? `/icons/selected/${item.icon}` : `/icons/${item.icon}` }
                  alt={item.alias}/>
              </span>
              <span>{item.alias}</span>
            </a>
          </li>
        )
      }
    </ul>
</nav>



<style>
  nav {
  width: 100%;
  display: flex;
  justify-content: center;

}  
.navBar{
    width: 350px;
    height: 100px;
    background-color: white;
    position: relative;
    display: flex;
    gap: 35px;
    justify-content: center;
    border-radius: 20px;
	transform: translate(100%, 0%);
	box-shadow: 0px 2px 8px 2px #e1e1e1;
}
.navItem{
	transform: translate(-24%, 12%);
	margin-left: 0px;
	font-family: "Raleway";
	font-weight: 600;
  list-style:none
	
}
.selected{
	background-image: linear-gradient(90deg, rgba(255,156,26,1) 0%, rgba(232,5,5,1) 150%);
	color: white;
}
a {
	position: relative;
  text-decoration: none; 
	color: black;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 80px;
  height: 80px;
  background-color: #E1E8EF;
  border-radius: 20px;
}
</style>